body {
  background-color: #d2a679;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://st4.depositphotos.com/1194063/21580/i/600/depositphotos_215809684-stock-photo-thanksgiving-celebration-traditional-dinner-setting.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-family {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ih1.redbubble.net/image.494033094.7346/fposter,small,wall_texture,product,750x1000.u2.jpg");
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-family: Georgia;
  padding-top: 7px;
  font-size: 35px;
}

.text {
  text-align: center;
  font-family: Georgia;
  line-height: 2;
}

.boxed {
  border-style: solid;
  border: 5px 5px 5px;
  border-color: LightGrey;
}

.index:hover {
  background-color: white;
}

img {
  height: 300px;
  width: 400px;
  box-shadow: 5px 5px 5px 5px white;
}

footer {
  background-color: white;
  text-align: center;
  font-family: Georgia;
}

.family {
  width: 50%;
  height: 500px
}

.hero-friends{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/proxy/Fit1XzdCWiy478YcFgbpZ0ReepN0CzMQf0pR6lUKEbDFxn1Jd0BpJTGDqGnihGTvML8-pePfXR10Aez7dUVe3j81AzvdgWQ4vMeaZLQ8LM5rEhCHglCeSz_i3tR1yT9RtqwTRWViyhkG");
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.infoPics {
  text-align: center;
  width: 100%;
}

.infoPics img {
  width: 100%;
  height: 300px;
}

.infoPics table {
  width: 100%;
}

.infoPics td {
  width: 33%;
  height: 200px;
}

.specific {
  box-shadow: 7px 7px 7px 11px white;
  padding-right: 10px
}

.space {
  padding-left: 10px;
}
